<tr>
  <td>
    Jurisdictions
  </td>
  <td>
    <%= audience['jurisdictions'].blank? ? 'None' : audience['jurisdictions'] %>
  </td>
</tr>
<tr>
  <td>
    Roles
  </td>
  <td>
    <%= audience['roles'].blank? ? 'None' : audience['roles'] %>
  </td>
</tr>
<tr>
  <td>
    People
  </td>
  <td>
    <%= audience['users'].blank? ? 'No additional people selected' : audience['users'] %>
  </td>
</tr>
